
  

*{
    box-sizing: border-box;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Bangers', cursive;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    
}

header{
    flex:0;
    text-align:center;
}

h1{
    margin-top:30px;
    font-size: 100px;
}




main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex:1;
   
}




#timer{
text-align: center;
margin-top:200px;
font-size: 88px;

}

#button-container{
    display: flex;
    flex-direction: row;
}
button {
    width:100px;
    height:60px;
    margin:50px 20px 0px 20px;
    border-style: none;
    font-family: 'Bangers', cursive;
    border-radius: 10px;
    font-size: 24px;
    color:black;
    background:none;
    border:3.6px solid black;
    
}

button:hover{
    box-shadow: 0px 0px 0px 1px;
}

footer{
    flex:0;
    
}